<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}} - Some Website</title>
  </head>


  <body>

    {{> header}}
    
    <br>

    <br>
    <p>Here is some awful paragraph text.
    <br>About Weiners</p>

    {{> footer}}
  </body>
</html>
