<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}} - Some Website</title>
  </head>


  <body>

    <p>It looks like we're undergoing some maintenance.  Sorry about that!!
    <br>{{loginGreeting}}</p>

    {{> footer}}

  </body>
</html>
