<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}} - Some Website</title>
  </head>


  <body>

    {{> header}}
    <p>
    <br>{{loginGreeting}}
    </p>
    <p>
      Here are some of the projects I'm going to be working on.
    </p>

    {{> footer}}

  </body>
</html>
